@font-face {
	font-family: "Gilroy ExtraBold";
	font-style: normal;
	font-weight: 900;
	src:url(../fonts/gilroyextrabold.woff2) format('woff2');
}

@font-face {
	font-family: "Gilroy Light";
	font-style: normal;
	font-weight: 300;
	src:url(../fonts/gilroylight.woff2) format('woff2');
}

body {
	padding: 0;
	margin: 0;

	font-family: "Gilroy Light";
	font-size: 15px;
	font-weight: 300;
	line-height: 30px;
}

a {
	text-decoration: none;
}

.container {
	width: 1160px;
	padding: 0 10px;
	margin: 0 auto;
}