@font-face {
	font-family: "Gilroy";
	font-style: normal;
	font-weight: 900;
	src:url(../fonts/gilroyextrabold.woff2) format('woff2');
}

@font-face {
	font-family: "Gilroy";
	font-style: normal;
	font-weight: 300;
	src:url(../fonts/gilroylight.woff2) format('woff2');
}

body {
	padding: 0;
	margin: 0;

	font-family: "Gilroy", sans-serif;
	font-size: 15px;
	font-weight: 300;
	line-height: 30px;
  letter-spacing: 0.01em;
  color: #000000;
}

a {
	text-decoration: none;
}

.container {
	width: 1160px;
	padding: 0 20px;
	margin: 0 auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  position: relative;

  display: inline-block;
  width: 160px;

  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.2em;
  font-weight: 900;
  color: #000000;
}

.button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  z-index: -1;

  display: block;
  height: 8px;
  width: 160px;
  margin-top: -4px;

  background-color: #f0c52e;

  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.button:hover::before {
  top: 0;

  padding-top: 16px;
  padding-bottom: 16px;
  margin-top: -5px;

  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

/* header-first-line */

.main-header {
  position: relative;

  margin-top: 40px;
}

.index-page-header .main-navigation {
  padding-bottom: 165px;
}

.header-first-line,
.main-navigation {
  padding-left: 60px;
  padding-right: 60px;

  background-color: #f7e296;
}

.user-menu,
.tabs,
.site-navigation,
.hidden-list {
  padding: 0;
  margin: 0;

  list-style: none;
}

.main-logo {
  position: absolute;
  left: 78px;
  top: 0;

  margin-top: -24px;

  font-size: 48px;
  font-weight: 900;
  line-height: 48px;
  text-transform: uppercase;

  cursor: default;
}

.main-logo:hover {
  opacity: 0.6;
}

.main-logo:active {
  opacity: 0.3;
}

.header-first-line {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: flex-start;
  align-items: flex-start;
  padding-top: 40px;
  padding-bottom: 33px;

  font-family: 'Open Sans', sans-serif;
  line-height: 36px;
}

.search {
  position: relative;

  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: flex-start;
  align-items: flex-start;
  width: 440px;

  line-height: 36px;
}

.search-label {
  position: absolute;
  top: 10px;
  left: 4px;

  width: 16px;
  height: 16px;

  background-image: url(../img/header/search.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.search-input {
  width: 355px;
  padding: 0;
  padding-left: 38px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  font: inherit;
  font-weight: 300;
  letter-spacing: 0.01em;

  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  background-color: transparent;
  outline: none;
}

.search-input::placeholder {
  color: #000000;
  opacity: 0.3;
}

.search-input:hover::placeholder {
  opacity: 0.6;
}

.search-input:focus {
  border-bottom-color: rgba(0, 0, 0, 1);
}

.search-button {
  display: none;
  width: 85px;
  padding-top: 4.5px;
  padding-bottom: 4.5px;
  margin-top: -11px;

  line-height: 36px;

  border: 2px solid black;
  background-color: transparent;
  cursor: pointer;
}

.search-input:focus + .search-button {
  display: inline-block;
}

.search-button:hover {
  color: #ffffff;

  background-color: #000000;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.header-first-line .list-link {
  position: relative;
  padding-left: 27px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  color: #000000;
}

.header-first-line .list-link::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;

  background-position: 0 0;
  background-repeat: no-repeat;
}

.header-first-line .list-link:hover {
  opacity: 0.6;
}

.header-first-line .list-link:active {
  opacity: 0.3;
}

.user-menu {
  width: 260px;
  margin-left: 100px;
}

.user-menu .log-in {
  display: inline-block;
  width: 80px;
}

.user-menu .log-in::before {
  width: 13px;
  height: 12px;
  margin-top: -6px;

  background-image: url(../img/header/user.svg);
}

.tabs {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: flex-end;
  width: 240px;
  margin-left: auto;
}

.header-first-line .tabs-link {
  padding-left: 22px;
}

.tabs .compare {
  margin-right: 41px;
}

.tabs .compare::before {
  width: 10px;
  height: 10px;
  margin-top: -5px;

  background-image: url(../img/header/compare.svg);
}

.tabs .cart::before {
  width: 12px;
  height: 12px;
  margin-top: -6px;

  background-image: url(../img/header/cart.svg);
}

/* header-second-line */

.main-navigation {
  position: relative;
  padding-bottom: 52px;
}

.site-navigation {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: flex-end;

  line-height: 22px;
}

.index-page-header .site-navigation::after {
  content: "";
  position: absolute;
  top: 113px;
  right: 460px;
  z-index: 1;

  height: 7px;
  width: 100px;

  background-color: #ffffff;
}

.site-navigation-item:nth-child(1) {
  margin-right: auto;
}

.site-navigation-item:nth-child(2) {
  margin-right: 35px;
}

.site-navigation-item:nth-child(3) {
  margin-right: 108px;
}

.site-navigation-item:nth-child(4) {
  margin-right: -4px;
}

.site-navigation-link {
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 22px;
  letter-spacing: 0.2em;
  color: #000000;
}

.site-navigation-link:hover {
  color: rgba(0, 0, 0, 0.5);
}

.site-navigation-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.goods-catalog {
  position: relative;

  width: 300px;
}

.goods-catalog-link {
  position: relative;

  display: inline-block;
  width: 250px;

  cursor: pointer;
}

.goods-catalog-link::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 230px;

  width: 16px;
  height: 16px;
  margin-top: -8px;

  background-image: url(../img/header/plus.svg);
  opacity: 0.3;
}

.hidden-block {
  position: absolute;
  top: 20px;
  z-index: 3;

  height: 0;
  width: 1160px;
  margin-left: -60px;

  overflow: hidden;
  background-color: #f7e296;

  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.goods-catalog-link:hover + .hidden-block {
  height: 168px;

  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.hidden-block:hover {
  height: 168px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.hidden-list {
  position: absolute;
  top: 0;
  left: 0;

  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  align-content: flex-start;

  width: 1160px;
  height: 168px;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 23px;
  padding-bottom: 35px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  overflow: hidden;
}

.hidden-list-item {
  width: 200px;
  margin-right: auto;
}

.hidden-list-item:first-child {
  margin-right: 40px;
}

.hidden-list-item:last-child {
  height: 100%;
}

.hidden-list-link {
  font-family: 'Open Sans', sans-serif;
  line-height: 36px;
  color: #000000;
}

.hidden-list-link:hover {
  opacity: 0.6;
}

.hidden-list-link:active {
  opacity: 0.3;
}

/* слайдер */

.slider {
  position: relative;
  top: -32px;

  margin-bottom: 73px;
}

.slider-radio {
  display: none;
}

.slider-controlls {
  position: absolute;
  right: 103px;
  top: 240px;

  width: 180px;
  text-align: right;

  cursor: default;
}

.slider-label {
  position: relative;
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 17px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  background-color: #ffffff;
  border: 1px solid black;
  border-radius: 50%;

  cursor: pointer;
}

.slider-label:last-child {
  margin-right: 0;
}

.slider-label::after {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 2px;
  margin-top: -2px;
  margin-left: -2px;

  background-color: #ffffff;
  border: 1px solid black;
  border-radius: 50%;
}

#slider-btn-1:checked ~ .slider-controlls label[for=slider-btn-1]::after {
  content: "";
}

#slider-btn-2:checked ~ .slider-controlls label[for=slider-btn-2]::after {
  content: "";
}

#slider-btn-3:checked ~ .slider-controlls label[for=slider-btn-3]::after {
  content: "";
}

.slide {
  display: none;
}

#slider-btn-1:checked ~ .slides .slide:nth-child(1) {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

#slider-btn-2:checked ~ .slides .slide:nth-child(2) {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

#slider-btn-3:checked ~ .slides .slide:nth-child(3) {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.slide::after {
  position: absolute;
  top: -18px;
  right: 68px;

  font-size: 179px;
  font-weight: 700;
  color: #ffffff;
}

.slide:nth-child(1)::after {
  content: "01";
}

.slide:nth-child(2)::after {
  content: "02";
}

.slide:nth-child(3)::after {
  content: "03";
}

.slide-img-block {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 560px;
  height: 486px;
  margin-top: -79px;
}

.slide-content {
  width: 500px;
  margin-left: 40px;
}

.slide-title {
  position: relative;
  z-index: 2;

  padding: 0;
  margin: 0;
  margin-bottom: 20px;

  font-size: 47px;
  font-weight: 900;
  line-height: 56px;
}

.slide-text {
  padding: 0;
  margin: 0;
  margin-bottom: 46px;

  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.008em;
}

.slide-button {
  width: 220px;
  margin-bottom: 57px;
}

.slide-button::before {
  width: 220px;
}

.slide-tabel tbody {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}

.slide-tabel-row {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column-reverse;
  -moz-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  -o-flex-direction: column-reverse;
  flex-direction: column-reverse;
  width: 160px;
}

.slide-table-title {
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
}

.slide-table-content {
  margin-bottom: 8px;

  font-size: 36px;
  line-height: 43px;
}

/* goods-menu */

.goods-navigation {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  margin-bottom: 178px;

  list-style: none;
}

.goods-navigation-item {
  width: 160px;
}

.goods-navigation-link {
  position: relative;

  display: inline-block;
  width: 160px;
  padding-top: 195px;

  font-size: 18px;
  line-height: 22px;
  font-weight: 900;
  color: #000000;
}

.goods-navigation-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 160px;
  height: 160px;

  background-color: #f7e296;
}

.goods-navigation-link:hover::before,
.goods-navigation-link:active::before {
  background-color: #f0c52e;
}

.goods-navigation-link:active {
  color: rgba(0, 0, 0, .3);
}

.goods-navigation-link::after {
  content: "";
  position: absolute;
  right: 50%;
  top: 80px;
}

.goods-navigation-item:nth-child(1) .goods-navigation-link::after {
  width: 97px;
  height: 55px;
  margin-right: -48.5px;
  margin-top: -27.5px;

  background-image: url(../img/goods-menu/goods-menu-img1.svg);
}

.goods-navigation-item:nth-child(2) .goods-navigation-link::after {
  width: 86px;
  height: 117px;
  margin-right: -43px;
  margin-top: -58.5px;

  background-image: url(../img/goods-menu/goods-menu-img2.svg);
}

.goods-navigation-item:nth-child(3) .goods-navigation-link::after {
  width: 71px;
  height: 87px;
  margin-right: -35.5px;
  margin-top: -43.5px;

  background-image: url(../img/goods-menu/goods-menu-img3.svg);
}

.goods-navigation-item:nth-child(4) .goods-navigation-link::after {
  width: 107px;
  height: 65px;
  margin-right: -53.5px;
  margin-top: -32.5px;

  background-image: url(../img/goods-menu/goods-menu-img4.svg);
}

.goods-navigation-item:nth-child(5) .goods-navigation-link::after {
  width: 56px;
  height: 98px;
  margin-right: -28px;
  margin-top: -49px;

  background-image: url(../img/goods-menu/goods-menu-img5.svg);
}

.goods-navigation-item:nth-child(6) .goods-navigation-link::after {
  width: 132px;
  height: 69px;
  margin-right: -66px;
  margin-top: -34.5px;

  background-image: url(../img/goods-menu/goods-menu-img6.svg);
}

.goods-navigation-link:active::after {
  opacity: 0.3;
}

/* services */

.services {
  margin-bottom: 95px;
  padding-bottom: 94px;

  background-color: #e5e5e5;
}

.services .container {
  position: relative;

  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.services-radio {
  display: none;
}

.services-controlls {
  position: relative;
  top: -20px;

  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 285px;
}

.services-controlls::after {
  content: "";
  position: absolute;
  top: -80px;
  left: 278px;

  width: 7px;
  height: 320px;

  background-color: #000000;
}

.services-button {
  position: relative;
  z-index: 2;

  display: inline-block;
  width: 160px;
  height: 40px;

  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.2em;
  font-weight: 900;
  line-height: 40px;
  color: #000000;

  cursor: pointer;
}

.services-button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  z-index: -1;

  display: block;
  height: 8px;
  width: 160px;
  margin-top: -4px;

  background-color: #f0c52e;

  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.services-button:hover::before {
  top: 5px;

  padding-top: 16px;
  padding-bottom: 16px;
  margin-top: -5px;

  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

#services-radio1:checked ~ .services-controlls .services-button[for="services-radio1"] {
  padding-right: 118px;

  color: #f7e184;

  background-color: #000000;
}

#services-radio1:checked ~ .services-controlls .services-button[for="services-radio1"]::before {
  content: none;
}

#services-radio2:checked ~ .services-controlls .services-button[for="services-radio2"] {
  padding-right: 118px;

  color: #f7e184;

  background-color: #000000;
}

#services-radio2:checked ~ .services-controlls .services-button[for="services-radio2"]::before {
  content: none;
}

#services-radio3:checked ~ .services-controlls .services-button[for="services-radio3"] {
  padding-right: 118px;

  color: #f7e184;

  background-color: #000000;
}

#services-radio3:checked ~ .services-controlls .services-button[for="services-radio3"]::before {
  content: none;
}

.services-items {
  position: relative;
  top: -30px;

  width: 700px;
  margin-left: 116px;
}

.services-item {
  display: none;
  padding-bottom: 20px;
}

#services-radio1:checked ~ .services-items .services-item:nth-child(1) {
  display: block;
}

.services-item:nth-child(1) {
  background-image: url(../img/services/delivery.svg);
  background-position: 558px 15px;
  background-repeat: no-repeat;
}

#services-radio2:checked ~ .services-items .services-item:nth-child(2) {
  display: block;
}

.services-item:nth-child(2) {
  background-image: url(../img/services/warranty.svg);
  background-position: 100% 0;
  background-repeat: no-repeat;
}

#services-radio3:checked ~ .services-items .services-item:nth-child(3) {
  display: block;
}

.services-item:nth-child(3) {
  background-image: url(../img/services/credit.svg);
  background-position: 100% 0;
  background-repeat: no-repeat;
}

.services-title,
.services-text {
  padding: 0;
  margin: 0;
}

.services-title {
  margin-bottom: 28px;

  font-size: 47px;
  font-weight: 900;
  line-height: 56px;
  letter-spacing: 0.02em;
}

.services-text {
  color: #464646;
}

/* brands */
.brands {
  margin-bottom: 141px;
}

.brands-list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.brands-item {
  width: 260px;
  height: 100px;
}

.brands-img {
  width: 260px;
  height: 100px;

  opacity: 0.2;
}

.brands-img:hover {
  opacity: 1;
}

/* shop-info */
.shop-info {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  margin-bottom: 90px;
}

.shop-info-title {
  position: relative;

  padding: 0;
  margin: 0;
  margin-bottom: 38px;

  font-size: 47px;
  font-weight: 900;
  line-height: 56px;
}

.shop-info-title::before {
  content: "";
  position: absolute;
  top: -48px;
  left: 0;

  width: 80px;
  height: 7px;

  background-color: #000000;
}

.shop-info-text {
  width: 486px;
  margin: 0;
  padding: 0;

  font-family: "Open Sans", sans-serif;
}

.shop-info-text:nth-child(3) {
  margin-top: 30px;
}

.shop-info-button {
  width: 260px;
}

.shop-info-button::before {
  width: 260px;
}

.about-us {
  width: 500px;
}

.transport-company {
  padding: 0;
  margin: 0;
  margin-top: 65px;
  margin-bottom: 60px;

  list-style: none;
}

.transport-company-item {
  position: relative;
  padding-left: 35px;

  font-size: 16px;
  font-weight: 900;
  line-height: 40px;
  letter-spacing: 0;
}

.transport-company-item::before {
  content: "";
  position: absolute;
  left: 1px;
  top: 50%;

  width: 4px;
  height: 4px;
  margin-top: -4px;

  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
}

.contacts {
  width: 560px;
}

.contacts-map {
  width: 560px;
  height: 222px;
  margin-top: 38px;
  margin-bottom: 65px;
}